
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // A user can read, write, and delete documents in their own user folder.
    match /users/{userId}/{document=**} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
